@use "~/assets/styles/global/variables.scss" as *;

@mixin mobile-sm {
  @media(max-width: calc($breakpoint-mobile-sm - 1px)) { @content; }
}

@mixin mobile-sm-min {
  @media(min-width: $breakpoint-mobile-sm) { @content; }
}

@mixin mobile {
  @media (max-width: calc($breakpoint-mobile - 1px)) { @content; }
}

@mixin mobile-min {
  @media (min-width: $breakpoint-mobile) { @content; }
}

@mixin tablet {
  @media (max-width: calc($breakpoint-tablet - 1px)) { @content; }
}

@mixin tablet-only {
  @media (min-width: $breakpoint-mobile) and (max-width: calc($breakpoint-tablet - 1px)) { @content; }
}

@mixin tablet-min {
  @media (min-width: $breakpoint-tablet) { @content; }
}

@mixin low-desktop {
  @media (max-width: calc($breakpoint-desktop-md - 1px)) { @content; }
}

@mixin desktop-lg {
  @media (max-width: calc($breakpoint-desktop-lg - 1px)) { @content; }
}

@mixin low-desktop-lg {
  @media (max-width: calc($breakpoint-desktop-lg - 1px)) { @content; }
}

@mixin low-desktop-lg-min {
  @media (min-width: $breakpoint-desktop-lg) { @content; }
}

@mixin low-desktop-only {
  @media (min-width: $breakpoint-tablet) and (max-width: calc($breakpoint-desktop-md - 1px)) { @content; }
}

@mixin low-desktop-min {
  @media (min-width: $breakpoint-desktop-md) { @content; }
}

@mixin desktop {
  @media (max-width: calc($breakpoint-desktop - 1px)) { @content; }
}

@mixin desktop-only {
  @media (min-width: $breakpoint-desktop-md) and (max-width: calc($breakpoint-desktop - 1px)) { @content; }
}

@mixin desktop-min {
  @media (min-width: $breakpoint-desktop) { @content; }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin line-сlamp ($count) {
  & {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    line-clamp: $count;
    box-orient: vertical;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin remove-scrollbar {
  &::-webkit-scrollbar-button {
    background-image: none;
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: transparent;
  }
  &::-webkit-resizer {
    background-image: none;
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    scrollbar-width: none; /* Для браузеров, поддерживающих -webkit */
  }
}

@mixin custom-scrollbar($size, $color-thumb, $color-track, $radius:0) {
  & {
    scrollbar-color: $color-thumb $color-track;
    scrollbar-width: thin;
  }
  &::-webkit-scrollbar-button {
    background-image: none;
    background-repeat: no-repeat;
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-track;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background-color: $color-thumb;
  }
  &::-webkit-resizer {
    background-image: none;
    background-repeat: no-repeat;
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  & {
    scrollbar-width: thin;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    scrollbar-width: auto;
  }
}

@mixin gridcols($cols, $gap) {
  & {
    display: grid;
    grid-template-columns: repeat($cols, calc((100% - ($gap * (calc($cols - 1)))) / $cols ));
    gap: $gap;
  }
}

@mixin boxsize($size) {
  & {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }
}

@mixin border-inset($size: 2px, $color: $color-main-light-2) {
  & {
    box-shadow: inset 0 0 0 $size $color;
  }
}

@mixin mob-fullwidth-from-container() {
  @include tablet {
    padding-left: $container-gap-md;
    padding-right: $container-gap-md;
    margin-left: -#{$container-gap-md};
    width: calc(100% + (2 * $container-gap-md));
  }

  @include mobile {
    padding-left: $container-gap-sm;
    padding-right: $container-gap-sm;
    margin-left: -#{$container-gap-sm};
    width: calc(100% + (2 * $container-gap-sm));
  }
}
