@use "~/assets/styles/global/mixins.scss" as *;
@use "~/assets/styles/global/variables.scss" as *;

$b: '.typography';

#{$b} {

  & > * {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  a:not([class]) {
    // @extend .link.link--primary;
  }

  img:not([class]) {
    max-width: 100%;
    border-radius: 12px;
    float: left;
  }
}
